<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://unpkg.com/vue"></script>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        #app{
            width: 500px;
            margin: 50px auto;
            background: skyblue;
        }
        table{
            width: 400px;
            background: #000;
        }
        table tr{
            background: #fff;
        }
        form{
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    </style>
</head>
<body>

<div id="app">
    <form v-show="isShow">
        <input type="text" value="请输入序号">
        <input type="text" value="请输入姓名">
        <input type="text" value="请输入分数">
        <input type="submit" value="新增">
        <input type="submit" value="查询">
    </form>
    <table>
        <tr>
            <th>序号</th>
            <th>姓名</th>
            <th>分数</th>
            <th>时间</th>
            <th>操作</th>
        </tr>
        <tr v-for="(person, index) in persons">
<!--            <td><input type="text" :value="person.id" :disabled="isDisabled"  ></td>-->
<!--            <td><input type="text" :value="person.name" :disabled="isDisabled" ></td>-->
<!--            <td><input type="text" :value="person.score" :disabled="isDisabled" ></td>-->
<!--            <td><input type="text" :value="person.time | dateFormat" :disabled="isDisabled" ></td>-->
            <td><input type="text" v-model="person.id" :disabled="isDisabled"  ></td>
            <td><input type="text" v-model="person.name" :disabled="isDisabled" ></td>
            <td><input type="text" v-model="person.score" :disabled="isDisabled" ></td>
            <td><input type="text" :value="person.time | dateFormat" ></td>


            <td>
                <a href="#" @click.prevent="edit">编辑</a>
                <a href="#"  @click="edit">删除</a><br>
                <a href="#" @click.prevent="toggle">更多操作</a>
            </td>
        </tr>
    </table>



</div>
<script>

    Vue.filter("dateFormat", function (value, fmStr) {
        console.log(fmStr)
        let date = new Date(value);
        let year = date.getFullYear() + "";
        let month = date.getMonth() + 1 + "";
        let day = date.getDate() + "";
        let hour = date.getHours() + "";
        let minute = date.getMinutes() + "";
        let second = date.getSeconds() + "";
        if (fmStr && fmStr === "yyyy-MM-dd")
            return `${year}-${month.padStart(2, "0")}-${day.padStart(2, "0")}`
        else
            return `${year}-${month.padStart(2, "0")}-${day.padStart(2, "0")} ${hour.padStart(2, "0")}:${minute.padStart(2, "0")}:${second.padStart(2, "0")}`;
    })

    let vue = new Vue({
        //控制区域
        el: "#app",
        //被控制区域的数据
        data: {
            name: "zx",
            isDisabled: true,
            isShow: false,
            persons: [{
                id: 1,
                name: "zx",
                score: 99,
                time: Date.now(),
            },{
                id: 2,
                name: "zy",
                score: 94,
                time: Date.now(),
            },{
                id: 3,
                name: "wfy",
                score: 67,
                time: Date.now(),
            },]
        },
        methods:{
            edit() {
                this.isDisabled = !this.isDisabled;
            },
            toggle(){
                this.isShow=true;
            }
        }
    });
</script>
</body>
</html>