<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="pageBody">
        省份：
        <select v-model="selectProvince" v-on:change="loadCity()">
            <option value="">请选择省份</option>
            <option v-for="item in provinceList" 
                v-bind:value="item.provinceCode">
                {{ item.provinceName }}
            </option>
        </select> 城市:
        <select>
            <option value="">请选择城市</option>
            <option v-for="item in cityList" 
                v-bind:value="item.Code">
                {{ item.cityName }}
            </option>
        </select>
    </div>
</body>

</html>
<script src="js/jquery-3.5.0.min.js"></script>
<script src="js/vue.js"></script>
<script>
    var myData = {
        provinceList: [],
        selectProvince: "",
        cityList: []
    };

    var vue1 = new Vue({
        el: "#pageBody",
        data: myData,
        created() {
            this.loadProvince();
        },
        methods: {
            loadProvince() {
                var _self = this;
                $.ajax({
                    type: "post",
                    url: "queryProvinceCity.do",
                    data: {},
                    dataType: "json",
                    success: function(response) {
                        _self.provinceList = response;
                    }
                });

            },
            loadCity() {
                console.log("hahaha");
                var _self = this;
                $.ajax({
                    type: "post",
                    url: "queryProvinceCity.do",
                    data: {
                        provinceCode: _self.selectProvince
                    },
                    dataType: "json",
                    success: function(response) {
                        _self.cityList = response;
                    }
                });

            }
        }
    });
</script>